@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Santoshi";
    src: url("../public/fonts/Satoshi.otf");
}
@font-face {
    font-family: "Santoshi";
    src: url("../public/fonts/Satoshi.woff2");
}